.d-header {
  display: grid;
  grid:
"left-menu logo extra-info chat search right-menu" auto;
  grid-column-gap: 0.2em;
  padding: 0 8px;
  box-sizing: border-box;
  align-content: center;

  & > .wrap {
    &,
    & .contents {
      display: contents;
    }
  }

  .panel {
    &,
    & > .d-header-icons {
      display: contents;
    }
  }

  .header-buttons {
    grid-area: header-buttons;
  }
  .search-dropdown {
    grid-area: search;
  }
  .hamburger-dropdown {
    grid-area: left-menu;
  }
  .current-user {
    grid-area: right-menu;
  }
  .extra-info-wrapper {
    grid-area: extra-info;
    width: calc(100vw - 100px);
  }
  .chat-header-icon {
    grid-area: chat;
  }

  // some protection for text-only site titles
  .title {
    grid-area: logo;
    @if ($center_logo == "true") {
      margin: 0 auto;
    }
    max-width: unset;
  }
}
