.d-header {
  display: grid;
  grid:
    ". . . . . ." auto
    "left-menu logo extra-info header-buttons search right-menu" auto
    ". . . . . ." auto
    / auto auto 1fr auto auto auto;
  grid-column-gap: 0.2em;
  padding: 0 8px;
  box-sizing: border-box;

  & > .wrap {
    &,
    & .contents {
      display: contents;
    }
  }

  .panel {
    &,
    & > .d-header-icons {
      display: contents;
    }
  }

  .header-buttons {
    grid-area: header-buttons;
  }
  .search-dropdown {
    grid-area: search;
  }
  .hamburger-dropdown {
    grid-area: left-menu;
  }
  .current-user {
    grid-area: right-menu;
  }
  .extra-info-wrapper {
    grid-area: extra-info;
  }

  // some protection for text-only site titles
  .title {
    grid-area: logo;
  }
}
